.admin-table {
  @apply w-full;

  thead {
    @apply text-left;

    th:first-child {
      @apply pl-6;
    }

    th:last-child {
      @apply pr-6;
    }
  }

  tbody {
    tr {
      @apply bg-white;
    }
  }

  td:first-child {
    @apply rounded-l py-4 pl-6;
  }

  td:last-child {
    @apply rounded-r pr-6;
  }
}
